<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="..\static\front.css" type="text/css" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <div class="weather-app">
        <div class="container">
            <h3 class="brand"> The Weather</h3>
            <div class="weather">
                <img src="..\static\logo.png" class="icon" alt="icon" width="500" height="500" />
            </div>
            <div>
                <h1 class="temp">{{user[7]}}&#176;</h1>
                <div class="city-time">
                    <h1 class="name">{{user[5]}}</h1>
                    <small>
                        <span class="time">{{user[6]}}</span>
                    </small>
                </div>
                <div class="weather">
                    <img src="..\static\1450.png" class="icon" alt="icon" width="50" height="50" />
                </div>
                <span class="condition">Cloudy</span>
            </div>
        </div>
        <div class="panel">
            <ul class="user">
                <h4>Weather Details</h4>
                <li>
                    <span>Cloudy</span>
                    <span class="cloud">89%</span>
                </li>
                <li>
                    <span>Temperature</span>
                    <span class="humidity">{{user[0]}}</span>
                </li>
                <li>
                    <span>Humidity</span>
                    <span class="humidity">{{user[3]}} </span>
                </li>
                <li>
                    <span>WaterLevel</span>
                    <span class="humidity">{{user[1]}}</span>
                </li>
                <li>
                    <span>Wind Speed</span>
                    <span class="wind">{{user[2]}}</span>
                </li>

                <h4>Prediction</h4>
                <li>
                    <span>Chance Of Rainfall</span>
                    <span class="wind">{%if user[4][0] == 1 %}
                        YES
                        {%else%}
                        NO
                        {%endif%}
                    </span>
                </li>

            </ul>

        </div>

    </div>
</body>

</html>