<html>

<body bgcolor=#d4a3ae>

    <center>

        <h1> IRIS FLOWER DETECTION </h1><br>

        <form method="POST" , action="{{url_for('home')}}">
            <b>
                <div class="user">
                    First value : <p>{{user[0]}}</p> <br><br>
                    Second value : <p>{{user[1]}}</p><br><br>
                    Third value : <p>{{user[2]}}</p> <br><br>
                    Fourth value : <p>45</p><br><br><br>
                </div>
            </b>
            <input type="submit" , value='predict!'>
        </form>

        <img src='static\flower1.jpg' alt="flower">

    </center>

</body>

</html>